cbis.build.client.version=aegon

instance.name={{ cbis_instance }}

cbis.thirdparty.bank.validate.service.password={{ thirdparty_password }}
cbis.thirdparty.bank.validate.service.username={{ thirdparty_username }}
cbis.jms.outgoing.callback.url={{ jms_outgoing_url }}
cbis.other.cbis.uri={{ other_uri }}
cbis.dms.uri={{ dms_uri }}
cbis.appia.host={{ appia_host }}
cbis.appia.port={{ appia_port }}
cbis.emx.fix.hostname={{ emx_fix_hostname }}
cbis.emx.fix.hostport=4433
cbis.emx.fix.keystore={{ emx_fix_keystore }}
cbis.emx.fix.truststore={{ emx_fix_truststore }}
cbis.emx.fixclient.CompID={{ emx_fixclient_compid }}
cbis.event.dms.document.unc.basedir={{ event_dms_doc_unc_basedir }}
cbis.reporting.ftp.server.host={{ reporting_ftp_host }}
cbis.reporting.ftp.server.port={{ reporting_ftp_port }}
cbis.reporting.ftp.server.username={{ reporting_ftp_username }}
cbis.reporting.ftp.server.password={{ reporting_ftp_password }}
cbis.reporting.email.smtp.host={{ reporting_smtp_host }}
cbis.reporting.email.smtp.port={{ reporting_smtp_port }}
cbis.imago.illustration.licencekey={{ imago_illustration_licensekey }}
cbis.imago.sso.ws.uri={{ imago_sso_ws_uri }}
cbis.imago.batch.ws.uri={{ imago_batch_ws_uri }}
cbis.imago.createquote.ws.uri={{ imago_createquote_ws_uri }}
cbis.new.entrant.investor.notification.url={{ new_entrant_investor_notification_url }}
cbis.payroll.status.notification.url={{ payroll_status_notification_url }}
cbis.stockbroker.admin.email.recipients={{ stockbroker_admin_email_recipients }}






